*.blend[1-9]
user/sturnclaw/laser-noz-003.png
user/sturnclaw/laser-noz-007.png
user/sturnclaw/laser-noz-006.png
user/sturnclaw/laser-noz-005.png
user/sturnclaw/laser-noz-004.png
user/sturnclaw/laser-noz-012.png
user/sturnclaw/laser-noz-011.png
user/sturnclaw/laser-noz-010.png
user/sturnclaw/laser-noz-009.png
user/sturnclaw/laser-noz-008.png
user/sturnclaw/laser-noz-013.png
user/sturnclaw/laser-noz-014.png
user/sturnclaw/preview/
*.kra~
user/noz/preview/
user/noz/shading-test.blend31
