*.blend[1-9]
user/sturnclaw/laser-noz-003.png
user/sturnclaw/laser-noz-007.png
user/sturnclaw/laser-noz-006.png
user/sturnclaw/laser-noz-005.png
user/sturnclaw/laser-noz-004.png
user/sturnclaw/laser-noz-012.png
user/sturnclaw/laser-noz-011.png
user/sturnclaw/laser-noz-010.png
user/sturnclaw/laser-noz-009.png
user/sturnclaw/laser-noz-008.png
user/sturnclaw/laser-noz-013.png
user/sturnclaw/laser-noz-014.png
user/sturnclaw/preview/
*.kra~
user/noz/preview/
user/noz/shading-test.blend31
img_tmp/engine-prog-1-3-5deg.png
user/noz/materials/streaked_metal_nonfree/About these PBR files.txt
user/noz/materials/streaked_metal_nonfree/streakedmetal-albedo.png
user/noz/materials/streaked_metal_nonfree/streakedmetal-metalness.png
user/noz/materials/streaked_metal_nonfree/streakedmetal-roughness.png
user/noz/materials/titanium_nonfree/About these PBR files.txt
user/noz/materials/titanium_nonfree/Titanium-Scuffed_basecolor.png
user/noz/materials/titanium_nonfree/Titanium-Scuffed_metallic.png
user/noz/materials/titanium_nonfree/Titanium-Scuffed_normal.png
user/noz/materials/titanium_nonfree/Titanium-Scuffed_roughness.png
user/noz/shading-test_oneshader_packed.blend
*.zip
img_tmp/
*preview*
Ref
assets/Parts/Engines_OPLI/blocking.blend
